@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    height: 100vh;
}
.box {
    margin: auto;
    margin-top: 200px;
    width: 300px;
    padding: 10px;
    padding-top: 20px;
    height:250px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px 3px rgb(134, 111, 111);
    border: 1px solid black;
  }
  input{
    margin: 10px;
  }
  input[type=text]{
    border-radius:5px;
    border:1px solid black;
    height:25px;
    width: 170px;
    padding-left: 40px;
  }
  input[type=password]{
    border-radius:5px;
    border:1px solid black;
    height:25px;
    width: 170px;
    padding-left: 40px;
  }
  i{
    position: absolute;
  }
  .fa {
    margin-top: 15px;
    padding-left: 15px;
    min-width: 25px;
    color: rgb(51, 51, 51);
}
  button{
    border-radius:5px;
    font-weight: 500;
    border:1px solid black;
    height:35px;
    width: 150px;
    background-color: rgb(33, 33, 33);
    color: white;
    margin-top: 10px;
  }
  ::-webkit-input-placeholder{
    padding-left: 30px;
  }
